.hippo-perspective-dashboard .hippo-perspective-dashboard-panel.left h2 span:nth-child(2)::before {
    content: "Bloomreach Experience Manager — v";
}

.hippo-perspective-dashboard .hippo-perspective-dashboard-panel.left h2 span:first-child {
    display: none;
}


.login-wrap {
    width: 360px;
}

.login-wrap .login-label {
    margin-top: 0;
    text-align: center;
}
.auth0-login .login-form-submit {
    border-radius: 5px;
}

.login-panel-header-logo {
    background-image: url("./logo-brxm.svg");
    background-size: auto 75px;
}

.column-wrapper.imageset-override-styles img {
    max-width: 100%;
    height: auto;
}


/**
 * For options that need to be in the rest output, but should not show in the document editor
 */
.hippo-preview-document .hide,
.hippo-editor-body .hide {
    display: none;
}

.hippo-editor-body .hippo-editor-template-field .hide {
    display: block !important;
}

.auth0-button {
    height: 50px;
    background-color:#2898D5;
    width: 100%;
    font-weight: bold;
}
