<!doctype>
<html>

	<head>
		<link href="https://bootswatch.com/4/lumen/bootstrap.css" rel="stylesheet" type="text/css">

		<title>Packages | XIN Solutions</title>

		<style>
			body {
				overflow-y: scroll;
			}

			[data-loading="{{1}}"] {
				display: none;
			}

			.right {
				float: right;
			}

			.ButtonBar {
				margin-bottom: 2em;
			}

			.NoPackages {
				margin-top: 2em;
				font-size: 1.3em;
				font-style: italic;
			}

			.Title {
				margin-bottom: 0.5em;
			}

				.Title__icon {
					color: #46B181;
					padding-right: 0.5em;
				}

			.Package {}
				.Package__title {
					position: relative;
					font-weight: bold;
					font-size: 1.1em;
					cursor: pointer;
				}

				.Package__body {

				}

				.Package__options {
					background-color: #f4f4f4;
					border-top: 1px solid #ddd;
					border-bottom: 1px solid #eee;

				}

				.alert-warning {
					background-color: #FFE2C9;
					color: #333;
					border-color: #FFC595;
				}

		</style>
	</head>
	<body ng-app="app">

		<div ng-controller="packages" data-loading="{{1}}">
			<div class="container">
				<div class="row">

					<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<h1 class="Title">
							<i class="Title__icon glyphicon glyphicon-folder-open"></i> 
							Packages
						</h1>

						<div class="ButtonBar">

							<button class="btn btn-primary btn-lg" ng-click="addPackage()">
								<i class="glyphicon glyphicon-upload"><!-- --></i> 
								Ingest package
							</button>
							<button class="btn btn-lg" ng-click="createPackage()">
								<i class="glyphicon glyphicon-plus"><!-- --></i> 
								New package
							</button>
							
							<button class="btn btn-lg" ng-click="refresh()">
								<i class="glyphicon glyphicon-refresh"><!-- --></i>
								Refresh
							</button>
						</div>

						<div ng-show="noPackages()" class="NoPackages">
							No packages available in the repository
						</div>

						<div ng-repeat="pkg in packages">
							<div class="Package panel panel-default">
								<div class="Package__title panel-heading" ng-click="collapse(pkg)">
									<div class="right">
										<i ng-show="pkg.collapsed" class="glyphicon glyphicon-plus"></i>
										<i ng-hide="pkg.collapsed" class="glyphicon glyphicon-minus"></i>
									</div>

									Package: {{pkg.id}}
								</div>
								<div ng-hide="pkg.collapsed" class="Package__options panel-body">
									<div class="right">
										<button class="btn"><i class="glyphicon glyphicon-download"></i>&nbsp;&nbsp;Download</button>
										<button class="btn"><i class="glyphicon glyphicon-remove"></i> Delete</button>
									</div>
									<button class="btn"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Edit</button>
									<button class="btn" ng-click="buildPackage(pkg.id)"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;Build</button>
									<button class="btn"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;&nbsp;Install</button>
									
								</div>
								<div ng-hide="pkg.collapsed" class="Package__body panel-body">

									<div ng-show="pkg.modified" class="alert alert-warning Package__modified" role="alert">
										The package was modified.
									</div>


									<h3>Filters</h3>
									<div class="well">
										<ul ng-repeat="filter in pkg.filters">
											<li><code>{{filter}}</code></li>
										</ul>
									</div>

									<h3>CND entities</h3>
									<div class="well">
										<ul ng-repeat="cnd in pkg.cnds">
											<li><code>{{cnd}}</code></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://fastcdn.org/Underscore.js/1.8.3/underscore-min.js"></script>

		<script>
			var app = angular.module("app", []);

			app.controller("packages", function($scope, endpoint) {


				_.extend($scope, {

					/**
					 * Contains package descriptions
					 */
					packages : [],

					/**
					 * Initialisation of interface data
					 */
					initialise : function() {
						endpoint.getPackages()	
							.then( (payload) => {
								$scope.packages = payload.data;
								_.each($scope.packages, (pkg) => pkg.collapsed = true);
							})
							.catch( (err) => console.log(err) )
						;
					},

					/**
					 * Collapse a package
					 */
					collapse : function(pkg) {
						pkg.collapsed = !pkg.collapsed;
					},

					/**
					 * Add a package from a certain URL
					 */
					addPackage : function() {
						var pkg = prompt("Ingest package from URL:")
						if (!pkg) {
							console.log("Cancelled");
							return;
						}
						console.log("Ingesting package from: ", pkg);
					},

					/**
					 * Create a new package
					 */
					createPackage : function() {
						var id = prompt("Package ID of new package:");
						if (!id) {
							console.log("Cancelled");
							return;
						}
						console.log("New package: ", id);
					},

					/**
					 * Build a new package
					 *
					 * @param id  the identifier to use
					 */
					downloadPackage : function(id) {
						endpoint.downloadPackage(id);
					},

					/**
					 * Refresh the page
					 */
					refresh : function() {
						location.reload();
					},

					/**
					 * @return true if there are no packages
					 */
					noPackages : function() {
						return !this.packages || this.packages.length == 0;
					}

				});

				$scope.initialise();


			});


			app.service("endpoint", function($q, $http) {

				/**
				 * Where to look for the endpoints
				 * @type {String}
				 */
				var BASE_URL = "/site/custom-api";


				var package = {
					collapsed: true,
					modified: false,
					origin: "", 
					filters: [ 
						"/content/documents/shop1", 
						"/content/documents/shop2"
					],
					cnds : [
						"xinmods:shop",
						"xinmods:content",
						"xinmods:shopcategory",
						"xinmods:product"
					]
				};

				return {

					/**
					 * Retrieve all packages
					 */
					getPackages : function() {
						return $http({
							method: "get",
							url: BASE_URL + "/packages/list" 
						});
					},


					/**
					 * Build a package with a certain identifier
					 * 
					 * @return {[type]} [description]
					 */
					buildPackage : function(id) {
						return $http({
							method: "post",
							url: BASE_URL + "/packages/" + id + "/build"
						});
					}

				};

			});

		</script>
	</body>
</html>